<h4>Formularios <small> Template </small></h4>
<hr>
<form  (ngSubmit)="guardar(forma)"
        #forma="ngForm"
      autocomplete="off">

    <div class="row mb-3">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control is-invalid"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [ngModel]="usuario.nombre"
               [ngClass]="{'is-invalid': nombre.invalid && nombre.touched, 'is-valid': nombre.valid && nombre.touched }"
               required
               minlength="5"
               #nombre="ngModel">
        <small *ngIf="nombre.invalid && nombre.touched" class="text-danger">El nombre debe de contener 5 o más caracteres</small>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [ngModel]="usuario.apellido"
               [ngClass]="{'is-invalid': apellido.invalid && apellido.touched, 'is-valid': apellido.valid && apellido.touched }"
               required
               minlength="5"
               #apellido="ngModel">
        <small *ngIf="apellido.invalid && apellido.touched" class="text-danger">El apellido debe de contener 5 o más caracteres</small>
      </div>
    </div>

  <div class="row mb-3">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <!--
        [class.ClaseAplicar]="true"
        [class.in-valid]="orreo.invalid && correo.touched"
        Otra forma de validar

      -->
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [disabled]="paises.length === 0"
             name="correo"
             [ngModel]="usuario.correo"
             [ngClass]="{'is-invalid': correo.invalid && correo.touched, 'is-valid': correo.valid && correo.touched }"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             #correo="ngModel">
      <small *ngIf="correo.invalid && correo.touched" class="text-danger">El correo es obligatorio y valido</small>
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select class="form-control"
              name="pais"
              [ngModel]="usuario.pais"
              [ngClass]="{'is-invalid': pais.invalid && pais.touched, 'is-valid': pais.valid && pais.touched }"
              required
              #pais="ngModel">
        <option *ngFor="let pais of paises" [value]="pais.codigo"> {{ pais.nombre }}</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2 col-form-label">Genero</div>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="M"
                name="genero"
                [ngModel]="usuario.genero"
                [ngClass]="{'is-invalid': genero.invalid && genero.touched, 'is-valid': genero.valid && genero.touched }"
                required
                #genero="ngModel">
        <label class="form-check-label">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="F"
                name="genero"
                [ngModel]="usuario.genero"
                [ngClass]="{'is-invalid': genero.invalid && genero.touched, 'is-valid': genero.valid && genero.touched }"
                required
                #genero="ngModel">
        <label class="form-check-label">Femenino</label>
      </div>
    </div>
  </div>


  <div class="row">
    <label class="col-2 form-label">&nbsp;</label>
    <div class="d-grid col-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>

    </div>

</form>
