<h4>Formularios <small> Reactivo </small></h4>
<hr>

<!--
  Vincular el formulario creado en el componente en la plantilla
  se hace con la directiva formGroup

  Vincular cada <input> con el nombre de contruccion del formulario
  se ocupa la directiva formControlName="nombre"
  El nombre es el especificado dentro del this.fb.group({ nombre: ['']})
-->
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div class="row mb-3">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <!--

          Una forma de realizar la validacion en el temaplate
           [class.is-invalid]="forma.get('nombre').invalid && forma.get('nombre').touched"
         -->
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [ngClass]="{'is-invalid': noValido('nombre'), 'is-valid': valido('nombre') }"
           >
         <small *ngIf="noValido('nombre')" class="text-danger">Debe digitar mas de 5 caracteres</small>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [ngClass]="{'is-invalid': noValido('apellido'), 'is-valid': valido('apellido') }">
        <small *ngIf="noValido('apellido')" class="text-danger">Debe digitar mas de 5 caracteres</small>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-2 col-form-label">Usuario</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Usuario"
               formControlName="usuario"
               [ngClass]="{'is-invalid': noValido('usuario'), 'is-valid': valido('usuario') }">
        <small *ngIf="noValido('usuario')" class="text-danger">El nombre de usuario ya esta registrado</small>
      </div>
    </div>

  <div class="row mb-3">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             [ngClass]="{'is-invalid': noValido('apellido'), 'is-valid': valido('apellido') }">
      <small *ngIf="noValido('apellido')" class="text-danger">El correo es obligatorio y valido</small>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Cotraseña"
             formControlName="pass1"
             [ngClass]="{'is-invalid': noValido('pass1')}">
      <small *ngIf="noValido('pass1')" class="text-danger">El campo constraseña el obligatorio</small>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-2 col-form-label">Repita</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Repita la contraseña"
             formControlName="pass2"
             [ngClass]="{'is-invalid': noValido('pass2'), 'is-valid': valido('pass2') }">
      <small *ngIf="passNoIguales()" class="text-danger">Las contraseñas no son iguales</small>
    </div>
  </div>


  <!--
    Para especificar los campos anidadados necesitamos establecer el padre(Elemento) que le dice Angular
    que adentro estan los <input> para poder vincularlos

    formGroupName="direccion"
      Dentro solo especificamos el nombre de cada campo
        formControlName="distrito"

   -->
  <div class="row mb-3" formGroupName="direccion">

    <label class="col-2 col-form-label">Direccion</label>
    <div class="col row">

      <div class="col">
        <input type="text" class="form-control" placeholder="Municipio"
                formControlName="municipio"
                [ngClass]="{'is-invalid': noValido('direccion.municipio'), 'is-valid': valido('direccion.municipio') }">
      <small *ngIf="noValido('direccion.municipio')" class="text-danger">El campo municipio es obligatorio</small>
      </div>

      <div class="col">
        <input type="text" class="form-control" placeholder="Departamento"
                formControlName="departamento"
                [ngClass]="{'is-invalid': noValido('direccion.departamento'), 'is-valid': valido('direccion.departamento') }">
      <small *ngIf="noValido('direccion.departamento')" class="text-danger">El campo departamento es obligatorio</small>
      </div>

    </div>
  </div>

  <div class="row mb-5">
    <div class="col">

      <table class="table">
        <thead class="table-dark text-center">
          <tr>
            <th>ID</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>

        <!--

           [formControlName]="i">
              Angular relacion que ese FormControlName con ese input por el index que apunta a un FormControl dentro del Array
         -->
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let pasatiempo of pasatiempos.controls; let indice = index">
            <td class="text-center">{{ indice + 1 }}</td>
            <td>
              <input type="text" class="form-control"
                      [formControlName]="indice">
            </td>
            <td class="text-center">
              <button class="btn btn-danger"
                      (click)="borrarPasatiempo(indice)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-grid"
            (click)="agregarPasatiempo()">
        <button class="btn btn-primary" type="button">+ Agregar</button>
      </div>

    </div>
  </div>



  <div class="row">
    <div class="d-grid col">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>

<pre>
  <code>Estado del formulario: {{ forma.valid }}</code>
</pre>

<pre>
  <code>Status: {{ forma.status }}</code>
</pre>

<pre><code>{{ forma.value | json }}</code></pre>

